{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow p-4 border-0">
            <h2 class="mb-4 text-center fw-bold text-success">Yangi mahsulot joylash</h2>
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label fw-bold">Mahsulot nomi</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Tavsifi</label>
                    {{ form.description }}
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Boshlang'ich narx (so'm)</label>
                        {{ form.start_price }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Auksion tugash vaqti</label>
                        {{ form.end_time }}
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Mahsulot rasmi</label>
                    {{ form.image }}
                </div>
                <button type="submit" class="btn btn-success w-100 btn-lg shadow">Auksionni boshlash</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}